version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: k8s.io/*

  - package-ecosystem: "gomod"
    directory: "/registry-scanner/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: k8s.io/*

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "docker"
    directory: "/test/e2e/containers"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/test/e2e/images/test-image"
    schedule:
      interval: "monthly"

