resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: argocd-image-updater-controller
  newName: quay.io/argoprojlabs/argocd-image-updater
  newTag: v1.0.1
