name: Build and push image

on:
  push:
    branches:
      - master-annotation-based

jobs:
  build_image:
    if: github.repository == 'argoproj-labs/argocd-image-updater'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          path: argocd-image-updater
      - name: Setup qemu
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and possibly push image
        run: |
          set -ex
          docker login --username "${DOCKER_USERNAME}" --password "${DOCKER_PASSWORD}" quay.io
          IMAGE_PUSH=yes make multiarch-image
        working-directory: argocd-image-updater
        env:
          DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.QUAY_TOKEN }}
